<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map!</title>

     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
       integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
       crossorigin=""/>

     <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
       integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
       crossorigin=""></script>
</head>
<body>
    <style>
	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	  }
	#map {
		height: 100%;
	}

	#location {
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 110;
		font-size:10;
		color: black;
		font-family: Verdana, Helvetica;
	}

	.gridTile {
		color: white;
		text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
		font-weight: bold;
	}
    </style>

<div id="map"></div>

<script>

	var origin = convertPointToLatLng(L.point(gup("x","0"), gup("y","0")));
	var simple = gup("simple", "false");
	var tileURL = "./api/tile/{z}/{x}/{y}";
	if (simple == "true") {
		tileURL = "./api/stile/{z}/{x}/{y}";
	}
	var map = L.map('map', {
		crs: L.CRS.Simple,
		minZoom: 3,
		maxZoom: 9,
  		fullscreenControl: true,
  		fullscreenControlOptions: {
    		position: 'topleft'
  		}
	}).setView([origin.lat, origin.lng], gup("zoom", "9"));

	L.tileLayer(tileURL, {
		tileSize: 100,
		id: 'haven'
	}).addTo(map);

	L.GridLayer.DebugCoords = L.GridLayer.extend({
		createTile: function (coords) {
			var factor = Math.pow(2,9 - coords.z);
			var x = ((coords.x) * factor);
			var y = ((coords.y) * factor);
			var div = document.createElement('div');
			div.innerHTML = "(" + x + "," + y + ")";
			div.style.width = 100 + 'px';
			div.style.height = 100 + 'px';
			div.style.fontSize = '10';
			div.style.borderStyle = 'solid';
			div.style.borderWidth = '1px';
			div.style.borderColor = '#000000';
			div.className = "gridTile";
			return div;

			//Canvas Grids, Make toggable option?
			/*
			var tile = L.DomUtil.create('canvas', 'leaflet-tile');
			var ctx = tile.getContext('2d');
			var size = this.getTileSize()
			tile.width = size.x
			tile.height = size.y

			var factor = Math.pow(2,9 - coords.z);
			var x = ((coords.x) * factor);
			var y = ((coords.y) * factor);

			ctx.fillStyle = "rgb(255, 255, 255)";
			ctx.font = "12px Arial";
			ctx.fillText("(" + x + "," + y + ")", 5, 15);

			ctx.fillStyle = "rgb(0, 0, 0)";
			ctx.strokeRect(0,0,100,100);
			return tile;
			*/
		}
	});

	L.gridLayer.debugCoords = function(opts) {
		return new L.GridLayer.DebugCoords(opts);
	};

	map.addLayer( L.gridLayer.debugCoords(
	{
		tileSize: 100
	}));

	//Events
	map.on('moveend', onMoveEnd);

	//Markers
	var MapIcon = L.Icon.extend({
		options: {
			iconSize:     [26, 26]
		}
	});
	//http://odditown.com/haven/map/icons/cr.png'
	var marketIcon = new MapIcon({iconUrl: 'http://odditown.com/haven/map/icons/rings.png'});
	var roadIcon = new MapIcon({iconUrl: 'http://odditown.com/haven/map/icons/cr.png'});
	var skullIcon = new MapIcon({iconUrl: 'http://odditown.com/haven/map/icons/skull.png'});

    var myRenderer = L.canvas({ padding: 0.5 });

    {% for marker in markers %}
        // DOM route

        // static/gfx/terobjs/mm/cairn.png
        {% static marker.image as icon_url %}
        var icon = new MapIcon({iconUrl: ' {{ icon_url }}.png'});

        L.marker(convertPointToLatLng(L.point( convertPoint({{ marker.x_coord }}),
            convertPoint({{ marker.y_coord }}))),
            {icon: skullIcon}, { renderer: myRenderer
         }).addTo(map).bindTooltip("{{ marker.name }}");

    {% endfor %}
    //         L.marker(convertPointToLatLng(L.point(243.5,  -5.8)), {icon: skullIcon}).addTo(map).bindTooltip("tt);

	function updateMarkers(markerJson) {
        
    }

    function convertPoint(coord) {
        return coord / 100;
    }

	function onMoveEnd(e) {
		var coords = convertLatLngToPoint(map.getCenter());
		if (simple == "true") {
			location.hash = "#x=" + Math.round(coords.x * 100) / 100 + "&y=" + Math.round(coords.y * 100) / 100 + "&zoom=" + map.getZoom() + "&simple=true";
		} else {
                	location.hash = "#x=" + Math.round(coords.x * 100) / 100 + "&y=" + Math.round(coords.y * 100) / 100 + "&zoom=" + map.getZoom();
		}
	}

	function convertLatLngToPoint(latlng) {
		var coords = L.CRS.Simple.latLngToPoint(latlng, 9);
		var x = coords.x / 100.0;
		var y = coords.y / 100.0;
		return L.point(x, y);
	}

	function convertPointToLatLng(coords) {
		var lat = coords.x * 100;
		var lng = coords.y * 100;
		var latlng = L.CRS.Simple.pointToLatLng(L.point(lat, lng), 9);
		return latlng;
	}

	//Get URL Parameter
	function gup(name,dflt) {
		name = name.replace(/[[]/,"\\\[").replace(/[]]/,"\\\]");
		var regexS = "[?#&]"+name+"=([^&#]*)";
		var regex = new RegExp( regexS );
		var results = regex.exec( window.location.href );
		if( results == null )
			return dflt;
		else
			return results[1];
	}
</script>
</body>
</html>